body{
	background-color: #54565e;
}

#body{
	
}

#header div{
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

#header{
	background-color: #337ab7;
	background: -webkit-linear-gradient(#2e6594, #337ab7, #2e6594); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#2e6594, #337ab7, #2e6594); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#2e6594, #337ab7, #2e6594); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#2e6594, #337ab7, #2e6594); /* Standard syntax */
}

#header_text{
	padding: 12px;
	font-family: Arial, Times, serif;
}

#header_text a{
	font-size: 30px;
	color: #fff;
	text-decoration: none !important;
	padding: 8px;
}

.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
}

#main{
	padding-top: 22px;
	background-color: #fff;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
}

#footer{
	background-color: #fff;
	padding-top: 22px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	margin-bottom: 22px;
}

.wrap{
	margin: auto;
	width: 90%;
}

.affix {
	top: 0;
    width: 90%;
}
